.lbt{
    height: 402px;
    width: 620px;
    position: relative;
    overflow: hidden;
}
.lbt-item{
    position: absolute;
    width: 2530px;
    height: 400px;
 transition: 1s;
}
.lbt-item img{
    height: 400px;
    width: 500px;
    float: left;

}
.zuo,.you{
    height: 60px;
    width: 60px;
    position: absolute;
}
.zuo,.you{
    top: 180px;
    z-index: 4;
}
.zuo{
    left: 10px;
}
.you{
    right: 130px;
}

.box2{
    margin-top: 40px;
    display: flex;
}
.ztl{
    width: 200px;
    height: 402px;
}
.right-img{
    position: absolute;
}
.right-img img{
    position: absolute;
    height: 134px;
    width: 120px;
}
.right-img img:first-of-type{
    left: 500px;
}
.right-img img:nth-of-type(2){
    left: 500px;
    top: 134px;
}
.right-img img:nth-of-type(3){
    left: 500px;
    top: 268px;
}

.ztl{
    margin-left: 230px;
    margin-right: 20px;
    box-shadow: gray 0px 0px 10px;
    /*border: 1px solid black;*/

}
.ztl ul li{
    list-style: none;
    line-height: 28px;
}
.ztl a{
    color: black;
    text-decoration: none;
}
.js{
    height: 402px;
    width: 200px;
    margin-left: 20px;
    box-shadow: gray 0px 0px 10px;
   /* border: 1px solid black;*/
}
.right-top{
    height: 95px;
    width: 100%;
   border-bottom: 1px gray solid;
}
.right-top p{
    float: right;
    margin-top: 10px;
    margin-right: 17px;
}
.right-top ul li{
    list-style: none;
    float: left;
    cursor: pointer;
}
.right-top ul{
    margin-left: 40px;
    margin-top: -40px;
}
.right-top li:first-child{
    margin-right: 10px;
    padding-right: 10px;

}
.right-top a{
    color: black;
}
.right-center{
   border-bottom: 1px gray solid;
    height: 95px;
    width: 100%;
}
.right-button{
    /*border: 1px solid red;*/
    height:197px;
    width: 100%;
}

.right-center ul li{
    list-style-type: circle;
    line-height: 15px;
    margin-left: -10px;
}
.right-center h4{
    margin-top: 3px;
    margin-left: 20px;
    font-weight: bolder;
}
.right-button-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 3px black solid;*/
    width: 140px;
    margin:  -3px auto;
}
.right-button img{
    height: 50px;
    width: 50px;
    padding: 12px;
}
.right-button span{
    position: absolute;
    top: 40px;
    left: 12px;
    width: 70px;
    font-weight: bolder;
}
.right-button-img-1{
   position: relative;
}
.zd{
    position: absolute;
    left: 450px;
    width: 860px;
    height: 402px;
    z-index: 10;
    background-color: white;
    display: none;
    box-shadow: 0px 0px 2px 2px gray;
}
@media screen and (max-width: 1350px){
    .lbt{
        margin-left: 100px;
    }
    .ztl{
        margin-left: 100px;
    }
    .js{
        display: none;
    }
    .zd{
        position: absolute;
        left: 250px;
        width: 860px;
        height: 402px;
        z-index: 10;
        background-color: white;
        display: none;
        box-shadow: 0px 0px 2px 2px gray;
    }
}
@media screen and (max-width: 1050px) {
    .ztl{
        display: none;
    }
    .lbt{
        margin: 0 auto;
    }
}
@media screen and (max-width: 620px){
.you{
    right: 20px;
}
}
